@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Ontario - Canada<br />
    RKitchener / Waterloo Region<br />
    <abbr title="Phone">P:</abbr>
    1 (647) 767-2430
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:sarahsamaya.ca@gmail.com">sarahsamaya.ca@gmail.com</a><br />
    <strong>Skype:</strong> <a href=" skype:sarahsamaya:chat">Skype me! sarahsamaya</a>
</address>

<address>
    <strong>GitHub:</strong>   <a href="https://github.com/sarahsamaya">https://github.com/sarahsamaya</a><br />
    <strong>linkedin:</strong> <a href="https://www.linkedin.com/in/sarah-samaya/?locale=en_US">https://www.linkedin.com/in/sarah-samaya/</a>
</address>