@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron ">
        <picture class="col-md-3">
        <img src="~/Content/Images/sarah_and_dog.jpeg" alt="sarah photo" class="img-thumbnail" >
        </picture>
        <div >
            <h1>SARAH SAMAYA</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="#" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Development</h2>
            <ul class="list-inline text-justify">

                <li class="list-inline-item glyphicon-bullhorn">
                    Analyzed and Implemented evolutive and corrective maintenance on existing systems in programming languages Java, PHP, C#, ASP.net, Delphi, HTLM, CSS, and SQL, MySQL and Postgres Database.
                </li>
                </li>
                <li class="list-inline-item glyphicon-bullhorn">
                    Defined new standards of documentation and layout (design).
                </li>
                <li class="list-inline-item glyphicon-bullhorn">
                    Developed new systems in the programming language Java, Postgres DB and JSF Framework.
                </li>
                <li class="list-inline-item glyphicon-bullhorn">
                    Functional and Load tests to increase software quality.
                </li>
            </ul>


        </div>
        <div class="col-md-4">
            <h2>Business Analysis</h2>
            <ul class="list-inline text-justify">
                <li class="list-inline-item glyphicon-bullhorn">
                    Mapped, elicited, optimized, created and documented cross-functional and functional business processes in companies such as Universities (UFU) and ministries (MEC and MINFRA) linked to the federal government.
                </li>
                <li class="list-inline-item glyphicon-bullhorn">
                    Elicited, defined and documented technical and functional requirements to the integration of new systems with existing systems, creation of new systems and help technical leads to document, design and implement these solutions.
                </li>
             </ul>

</div>
        <div class="col-md-4">
            <h2>Technical Leadership and Management</h2>
                <ul class="list-inline text-justify">
                    <li class="list-inline-item glyphicon-bullhorn">
                        Managed the IT portfolio of the Superior Electoral Court - TSE that has a direct impact on the Brazil elections.
                    </li>
                    <li class="list-inline-item  glyphicon-bullhorn">
                        Managed important Brazilian federal government IT programs that have a direct impact on politicians, country education and society such as PROUNI of MEC - Ministry of Education and Culture, a national university scholarship program.
                    </li>
                    <li class="list-inline-item glyphicon-bullhorn">
                        Managed IT projects to develop new software and websites, create virtual machine configurations, and evaluate/define software architecture standards.
                    </li>
                </ul>

</div>
    </div>